<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Lovely friend </title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
</head>
<body>
  <div class="card border-secondary mb-3" style="max-width: auto; height: auto; position: absolute;  top: 50%;
        left: 50%; margin-right: -50%; transform: translate(-50%, -50%);">
    <div class="card-header" align = "center" style="font-size: 20pt; background:  " >
      Google calendar statistics
      <small class="form-text text-muted" style="font-size: 10pt" >Любимый друг</small>
    </div>
      <form method="post" align = 'center'>
        {{ form.hidden_tag() }}
        <p>
            {{ form.Data.label  }} {{ form.Data(class="radio") }}
            {{ form.submit(class_="btn btn-info") }}
        </p>
      </form>
      <div style="margin-left:20px; margin-right:20px">
          <table class="table table-striped" align="center">
              <tr style="background: #17a2b8; border-color: #E6E6FA">
                  <th scope="col" align="'center">Кто чаще всего приглашает на мероприятия</th>
                  <th scope="col" align="center"> Кого чаще всего приглашаешь на мероприятия</th>
              </tr>
              <tr>
                  <td align='center'>
                      {% if organiser==None %}
                        <p> Выберите временной промежуток</p>
                      {% else %}
                          {% for key, value in organiser.items() %}
                              <p>
                                  {{ key }}: {{ value }}
                              </p>
                          {% endfor %}
                      {% endif %}
                  </td>
                  <td align='center'>
                      {% if organiser==None %}
                        <p> Выберите временной промежуток</p>
                      {% else %}
                          {% for key, value in guests.items() %}
                              <p>
                                  {{ key }}: {{ value }}
                              </p>
                          {% endfor %}
                      {% endif %}
                  </td>
               </tr>
          </table>
      </div>
  <div class='container'>
    <hr>
    &copy; Олины права не защищены 2018
  </div>
  </div>
</body>
</html>
