<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Main </title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
</head>

<body>
  <div cclass="card border-secondary mb-3" style="max-width: auto; height: auto; position: absolute; left: 7%; right: 7%;">
    <div class="card-header" align = "center" style="font-size: 20pt" >
      Google calendar statistics
      <small class="form-text text-muted" style="font-size: 10pt" >Приветсвуем тебя, простой смертный, зачем-то зашедший на этот сайт!</small>
    </div>
    <div class="card-body">
      <div align="center">
          <small class="form-text text-muted" style="font-size: 10pt" > Приложение Google calendar statistics позволит Вам получить статистику по вашему календарю.</small>
      </div>

      <form action="" method=post enctype=multipart/form-data>
          <div>
              <label for="exampleInputFile" style="margin-top: 20px">Выберите файл с календарем</label>
              {{ form.hidden_tag()  }}
              <p>
                  {{ form.dbFile.label }} {{ form.dbFile }}
                  {{ form.submit1 (class_="btn btn-primary btn-sm")}}
                  {{ form.submit2 (class_="btn btn-secondary btn-sm") }}
                  {{ form.submit21 (class_="btn btn-secondary btn-sm") }}
                  <small id="fileHelp" class="form-text text-muted">Загрузите файл с вашим календарем для получения статистики.</small>
              </p>
               <p align="center">
                   <div>
                        <p>
                            {{ form.users(class="form-control", style="width: 50%; margin-bottom: 2%") }}
                            {{ form.submit3 (class_="btn btn-primary btn-sm")}}
                            <small id="fileHelp" class="form-text text-muted"> Выберите пользователя. статистику которого хотите получить.</small>
                   </div>
              </p>
          </div>
          <hr>
          <div style='margin-left:25%; margin-top: 20px'>
            <p>
              <a href="/statistics" class='btn btn-danger'>Статистика &raquo;</a>
            </p>
            <p>
              <a href="/synchronization" class='btn btn-info'>Синхронизация с календарями друзей &raquo;</a>
            </p>
          </div>
      </form>

    </div>
    <div class='container'>
      <hr>
      &copy; Олины права не защищены 2018
    </div>
  </div>
</body>
</html>
