<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Statistics </title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">
</head>


<body>
  <div class="card border-secondary mb-3" style="max-width: auto; height: auto; position: absolute;  top: 50%; left: 50%;
  margin-right: -50%; transform: translate(-50%, -50%)">
    <div class="card-header" align = "center" style="font-size: 20pt" >
      Google calendar statistics
      <small class="form-text text-muted" style="font-size: 10pt" >Статистика</small>
    </div>
    <div class="card-body">
      <div align="center">
        <p class="card-text">Выберите опцию</p>
      </div>
      <div align = "center">
        <p>
          <a href="/lovelyFriend" class='btn btn-danger'>Любимый друг &raquo;</a>
        </p>
        <p>
          <a href="/organizedEvents" class='btn btn-primary'>Организованные меропрития &raquo;</a>
        </p>
        <p>
          <a href="/employment" class='btn btn-info'>Загруженность &raquo;</a>
        </p>
          </div>
  <div class='container'>
    <hr>
    &copy; Олины права не защищены 2018
  </div>
</body>
</html>
