<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Lovely friend </title>
  <link rel="stylesheet" href="static/css/style.css" type="text/css">
</head>
<body>
  <div class="card border-secondary mb-3" style="max-width: auto; height: auto; position: absolute;  top: 50%;
        left: 50%; margin-right: -50%; transform: translate(-50%, -50%);">
    <div class="card-header" align = "center" style="font-size: 20pt; background:  " >
      Google calendar statistics
      <small class="form-text text-muted" style="font-size: 10pt" > Загруженность </small>
    </div>
  <div class="alert alert-dismissible alert-danger" align = "center" style="margin-top:5%; margin-right: 5%; margin-left:5%">
    <strong>Data selection's should be there</strong>
  </div>
  <div class="alert alert-dismissible alert-primary" align='center' style="margin:5%">
    <output name='res'> Result should be here </output>
  </div>
  <div class='container'>
      <hr>
      &copy; Олины права не защищены 2018
    </div>
  </div>
</body>
</html>
